


script.
    // element registration
    Polymer({
        is: "todo-element",
        // add properties and methods on the element's prototype
        properties: {
            // declare properties for the element's public API
            user: {
                type: String,
                value: ""
            },
            task: {
                type: String,
                value: "Hello!"
            },
            rid: {
                type: Number,
                value: -1
            },
            time: {
                type: String,
                value: new Date().toLocaleString()
            },
            completed: {
                type: Boolean,
                value: false,
                observer: 'compChanged'
            },
            editing: {
                type: Boolean,
                value: false
            }
        },
        compChanged: function(e) {
            if (e) {
                this.fire('complete', this);
            }
        },
        doEdit: function(e) {
            this.editing = !this.editing;
            if (!this.editing) {
                this.fire('edit', {
                    rid: this.rid,
                    task: this.task
                });
            }
        },
        ready: function(e) {}
    });
