doctype
html
    head
        link(href="/components/polymer/polymer.html", rel="import")
        link(href="/components/iron-icons/iron-icons.html", rel="import")
        link(href="/components/paper-checkbox/paper-checkbox.html", rel="import")
        link(href="/components/paper-fab/paper-fab.html", rel="import")
        link(href="/components/paper-input/paper-input.html", rel="import")
        link(href="/components/paper-item/paper-item.html", rel="import")
        link(href="/components/paper-material/paper-material.html", rel="import")

    dom-module(id="todo-element", attributes="task user rid")

        //- incluimos los estilos del elemento
        include includes/styles.pug

        template

            paper-material.todo(elevation="1")
                paper-checkbox(checked="{{completed}}")
                paper-fab(hidden="{{editing}}", icon="icons:create", on-tap="doEdit", class="edit" mini)
                paper-fab(hidden="{{!editing}}", icon="icons:done", on-tap="doEdit", class="done", mini)
                paper-item(hidden="{{editing}}", id="task") {{task}}
                paper-input(id="edit", hidden="{{!editing}}", value="{{task}}")
                paper-item.info Created by: #[span {{ user }}]
                paper-item.info {{ time }}

        include includes/script.pug
