


script.
    // element registration
    Polymer({
        is: "todo-app",

        // add properties and methods on the element's prototype
        properties: {
            // declare properties for the element's public API
            todo: {
                type: Array,
                value: [{
                    user: "Kevin",
                    task: "Make a Polymer app!",
                    rid: 0
                }, {
                    user: "Justin",
                    task: "Drink some scotch.io",
                    rid: 1
                }, {
                    user: "Tomomi",
                    task: "Think of task.",
                    rid: 2
                }]
            },
            done: {
                type: Array,
                value: []
            },
            messages: {
                type: Array,
                value: []
            },
            present: {
                type: Array,
                value: []
            }
        },
        handleComplete: function(e) {
            var idx = findWithAttr(this.todo, 'rid', e.target.rid);
            var itm = this.todo[idx];
            itm.task = e.target.task;
            itm.user = this.$.tUser.value;
            itm.type = "done";
            this.$.pub.message = itm;
            this.$.pub.publish();
        },
        handleEdit: function(e) {
            var idx = findWithAttr(this.todo, 'rid', e.target.rid);
            var itm = this.todo[idx];
            itm.task = e.target.task;
            itm.user = this.$.tUser.value;
            itm.type = "edit";
            this.$.pub.message = itm;
            this.$.pub.publish();
        },
        postTask: function(e) {
            var tsk = this.$.tTask.value;
            var usr = this.$.tUser.value;
            if (tsk == "") {
                alert("Task is Empty!");
                return;
            }
            if (usr == "") {
                usr = randItem(names1) + "-" + randItem(names2);
            }
            this.$.pub.message = {
                type: "todo",
                task: tsk,
                user: usr,
                rid: randID()
            };
            this.$.pub.publish();
            this.$.tTask.value = "";
        },
        subscribeCallback: function(e) {
            while (this.messages.length > 0) {
                var item = this.messages.pop();
                switch (item.type) {
                    case "todo":
                        this.unshift('todo', {
                            task: item.task,
                            user: item.user,
                            rid: item.rid
                        });
                        break;
                    case "done":
                        var idx = findWithAttr(this.todo, 'rid', item.rid);

                        if (idx == -1) {
                            return;
                        }
                        var itm = this.splice('todo', idx, 1)[0];
                        itm.task = item.task;
                        itm.user = item.user;
                        this.unshift('done', itm);
                        break;
                    case "edit":
                        var idx = findWithAttr(this.todo, 'rid', item.rid);
                        if (idx == -1) {
                            return;
                        }
                        var itm = this.splice('todo', idx, 1)[0];
                        itm.task = item.task;
                        itm.user = item.user;
                        this.unshift('todo', {
                            task: item.task,
                            user: item.user,
                            rid: item.rid
                        });
                        break;
                    default:
                        continue;
                }
            }
        },
        ready: function(e) {
            this.addEventListener('complete', this.handleComplete);
            this.addEventListener('edit', this.handleEdit);
            this.$.tUser.value = randItem(names1) + "-" + randItem(names2);
            console.log(this.present);
            this.addEventListener('presence', presChange);

            function presChange(e) {
                var pres = this.present.pop()
                this.$.here.innerHTML = pres.occupancy;
            }
            var todos = this.$.todos;
            window.onresize = function(event) {
                todos.style.height = window.innerHeight - 200;
            };
            window.onresize();
        }
    });
    var names1 = ["red", "orange", "yellow", "green", "blue", "indigo", "purple"];
    var names2 = ["hat", "shoe", "car", "light", "cat", "gnome"];

    function randItem(arr) {
        return arr[Math.floor(Math.random() * arr.length)];
    }

    function randID() {
        return Math.floor(Math.random() * 10000);
    }

    function findWithAttr(array, attr, value) {
        for (var i = 0; i < array.length; i += 1) {
            if (array[i][attr] === value) {
                return i;
            }
        }
        return -1;
    }
