doctype
html
    head

        //- here all the imports

    dom-module#my-webcomponent

        include includes/style.pug

        template
            div here your content of webcomponent

        include includes/script.pug
