doctype
html
    head
        link(href="/components/polymer/polymer.html" rel="import")
        link(href="/polymer-starter/webcomponents/todo-element/todo-element.html" rel="import")
        link(href="/components/paper-drawer-panel/paper-drawer-panel.html" rel="import")
        link(href="/components/paper-header-panel/paper-header-panel.html" rel="import")
        link(href="/components/paper-toolbar/paper-toolbar.html" rel="import")
        link(href="/components/paper-icon-button/paper-icon-button.html" rel="import")
        link(href="/components/paper-material/paper-material.html" rel="import")
        link(href="/components/paper-menu/paper-menu.html" rel="import")
        link(href="/components/paper-item/paper-item.html" rel="import")
        link(href="/components/paper-input/paper-input.html" rel="import")
        link(href="/components/iron-icons/iron-icons.html" rel="import")
        link(href="/components/pubnub-element/pubnub-element.html" rel="import")

    dom-module#todo-app

        include includes/style.pug

        template
            paper-drawer-panel
                paper-header-panel.side-panel(drawer='')
                    paper-toolbar
                        paper-item Completed Tasks
                    paper-menu#completed.list
                        template(is='dom-if', if='{{!done.length}}')
                            paper-material.task-empty
                                paper-item(elevation='2') Completed tasks will appear here!
                        template#done(is='dom-repeat', items='{{done}}')
                            paper-item
                                | {{item.task}}
                                i(style='margin-left: 5px;') {{item.user}}
                    paper-material#made-with(elevation='2')
                        a(href='http://www.pubnub.com/')
                            img(src='/polymer-starter/images/made-with.png')
                paper-header-panel.main-panel(main='')
                    paper-toolbar
                        paper-icon-button(icon='menu', paper-drawer-toggle='')
                        paper-item
                            iron-icon(icon='icons:face')
                            | &nbsp;
                            span#here 0
                        paper-item Active Tasks
                    div(style='border-left: 1px solid #ccc;')
                        paper-material#todoEntry(elevation='2')
                            paper-input#tTask(label='Task')
                            paper-input#tUser(char-counter='', label='Username', maxlength='16', error='maximum characters exceeded', style='width:75%;display: inline-block')
                            paper-fab(icon='icons:add', on-tap='postTask')
                        #todos
                            template(is='dom-if', if='{{!todo.length}}')
                                paper-material.task-empty
                                    paper-item(elevation='2') No Tasks remain. Updates are Real-Time so stay tuned!
                            template#tasks(is='dom-repeat', items='{{todo}}')
                                todo-element(user='{{item.user}}', task='{{item.task}}', rid='{{item.rid}}')
            core-pubnub(publish_key='pub-c-7fad26fe-6c38-4940-b9c3-fbd19a9633af', subscribe_key='sub-c-30c17e1a-0007-11e5-a8ef-0619f8945a4f')
                core-pubnub-publish#pub(channel='todo', message='Hello')
                core-pubnub-subscribe#sub(channel='todo', messages='{{messages}}', presence='{{present}}', on-callback='subscribeCallback')

        include includes/script.pug
