

//- fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Ubuntu+Mono:400,400i,700,700i')



//- import locals
@import '../../commons/styles/vars.styl'



*
    border 0
    margin 0
    padding 0



    &:hover, &:focus, &:active
        outline none !important



body
    background-color $color-white
