


*
    border 0
    padding 0
    margin 0



    &:hover, &:active, &:focus
        outline none !important



body
    background-color #fff
    color #606a6f
    display block
    font-family "Open Sans", Arial, sans-serif
    left 0px
    overflow auto
    position fixed
    top 0px
