doctype
html
    head

        //- link( rel = "import", href = "" )

    dom-module#test-component

        style( src = "/polymer-structured-components/scripts/components/test-component/style.css" )

        template
            div test component

        script( src = "/polymer-structured-components/scripts/components/test-component/script.js" )
