html
    head
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='theme-color', content='#00BCD4')
        meta(name='msapplication-TileColor', content='#00BCD4')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='application-name', content='ToDo')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='#00BCD4')
        meta(name='apple-mobile-web-app-title', content='Polymer Starter\Kit')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/polymer-starter/webcomponents/todo-app/todo-app.html', rel='import')
    body.fullbleed.layout.vertical(unresolved='')

        todo-app

        script(src='/components/webcomponentsjs/webcomponents-lite.min.js')
